#thing {
    background-color: black;
}

body {
    background-color: rgb(20, 21, 23);
}

.carousel-caption {

    position: absolute;
    top: 45%;
    left: 20px;
    width: 100%;

}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }

  